div.tableview-info {
    padding-top: 8px;
}

div.tableview-pagination {
    float: right;
    margin: 0;
}

.tableview-table {
    margin-top: 1em;
}

.tableview-table th, .tableview-table td {
    text-align: center;
}

.tableview-filterbox {
    padding-right: 10px;
}

.tableview-sorting:after {
    content: "";
    float: right;
    margin-top: 7px;
    border-width: 0 4px 4px;
    border-style: solid;
    border-color: black transparent;
    visibility: hidden;
}

.tableview-sorting:hover:after {
    visibility: visible;
}

.tableview-sorting-asc:after {
    visibility: visible;
}

.tableview-sorting-desc:after {
    border-bottom: none;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid black;
    visibility: visible;
}
.tableview-center {
    text-align: center;
}
